.projects-title{
    font-size: 3rem;
}

.project-title{
    margin-bottom:1rem;
}

.project{
    margin-top:3rem;
    margin-bottom:3rem;
}

.project-image{
    margin-bottom:1.5rem;
}

.project-description{
    margin-bottom:30px;
}

.project-buttons{
    gap:10px
}

.gobackbutton{
    margin-top:1rem;
}