.App{
  background: linear-gradient(-45deg, #53325f, #2f3d70, #396164, #2b5334);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}
